<div class="d-flex">
    <!-- sidebar -->
    <div class="bg-dark border-rigth p-3" id="sidebar">
        <h3 class="text-light">
            Gifs-App
        </h3>
        <hr class="text-white">
        <div class="list-group list-reset">
            <a href="http://" class="list-group-item list-group-item-action">Dashboard</a>
        </div>
    </div>
    <!-- end sidebar -->
    <div class="container">
        <div class="row p-3">
            <h5>Buscar:</h5>
            <input type="text" class="form-control" placeholder="Buscar gifs...">
        </div>
        <hr>
        <div class="row">
            <div class="col">
                texto
            </div>
        </div>
    </div>
</div>